---
import BaseLayout from "@/components/BaseLayout.astro";

interface Props {
  frontmatter: {
    title: string;
  };
}
const { frontmatter } = Astro.props as Props;
const { title = "Hymn name" } = frontmatter;
---

<BaseLayout>
  <div class="bg-black text-white p-8">
    <h1 class="font-black text-5xl">{title}</h1>
  </div>
  <div class="container mx-auto p-8 prose">
    <slot />
  </div>
</BaseLayout>
